table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    max-width: auto;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
  }

  .flex-container > div {
    text-align: center;
  }